*{box-sizing:border-box}

html {
  scroll-behavior: smooth;
}

h1,h2,h3,h4,h5,h6 {
  font-family:Oswald,sans-serif;
  font-weight: 500;
  margin-top: 10px;
  margin-bottom: 10px;
}

h1 {
  font-size: 50px;
}

h2 {
  font-size: 38px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

p, a, ul, li, ol, label {
    font-family: Roboto, sans-serif;
    font-size: 15px;
    line-height: 1.7em;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
 margin:0px;
}

/********** Up and Down Animation *************/

.cs-why-speculative-one-column {
  animation: mymove 2s infinite;
}

@keyframes mymove {
  0% {
  translate: 0px 0px;
  }
  50% {
  translate: 0px 40px;
  }
    100% {
  translate: 0px 0px;
  }
}

.cs-why-speculative-two-column {
  animation: mymoveone 2s infinite;
}

@keyframes mymoveone {
  0% {
  translate: 0px 0px;
  }
  50% {
  translate: 0px -40px;
  }
    100% {
  translate: 0px 0px;
  }
}

/********* Navigation Menu ***********/

.navigation-menu {
    width: 100%;
    float: left;
    display: block;
    background-color: #ffffff;
    padding: 7px 0px;
}

.navigation-menu-container {
    width: 90%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    display: block;
    justify-content: center;
    align-items: center;
}

.logo-container {
    width: 100%;
    float: left;
    display: block;
    margin-right: 0%;
    text-align: center;
}

.logo-container img {
    width: 200px;
}

.menu-container {
    width: 100%;
    margin-left: 0%;
    float: left;
    display: block;
    text-align: center;
}

.menu-container ul {
    list-style-type: none;
    padding-left: 0px;
}

.menu-container ul li {
    display: inline-block;
}

.menu-container ul li a {
    background-color: #ad7dd7;
    color: #ffffff;
    text-decoration: none;
    padding: 14px 30px;
    margin: 0px 10px;
    border-radius: 50px;
    font-weight: 600;
    transition: .3s ease-in-out;
    font-size: 13px;
}

.menu-container ul li a:hover {
    background-color: #433476;
    transition: .3s ease-in-out;
    color: #fff;
}


/********* Slider ************/

.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 90%;
  position: relative;
  margin: auto;
  margin-top: 10px;
}



/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.cs-slideshow-container {
    display: block;
    width: 100%;
    float: left;
    background-color: #4c3d82;
    color: #fff;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 60px;
}

.cs-slideshow-container span {
    color: #e1bee7;
}

.cs-banner-sub {
    color: #ffca47;
}

.cs-banner-button {
    background-color: #ffca47;
    color: #000;
    padding: 15px 40px;
    border-radius: 50px;
    margin-top: 100px;
    text-decoration: none;
    font-weight: 500;
}

.cs-slideshow-container p {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding-top: 14px;
    padding-bottom: 14px;
    line-height: 1.7em;
    font-weight: 400;
    font-size: 15px;
}

.cs-slideshow-container img {
    border-radius: 20px;
}


.cs-banner-button:hover {
    color: #fff;
    background-color: #0f0760;
}

.cs-slider-dots {
    float: left;
    display: block;
    width: 100%;
    padding-bottom: 10px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.cs-experiments-head h1 {
    color: #fff;
}

.cs-experiments-head span {
    color: #f57439;
}

/******************* What is Met Gala *******************/

.cs-about-sec {
    width: 100%;
    float: left;
    display: block;
    text-align: left;
    background-color: #f8f8fb;
}

.cs-about-sec-container {
    width: 100%;
    float: left;
    display: block;
    padding: 60px 100px;
}

.cs-why-speculative-one p {
  margin-bottom: 50px;
}

/********** Iconic Outfits ***********/

.gallery .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}

.gallery {
    margin-top: 30px;
}

.card {
    background: #ffffff;
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    transition: transform 0.3s;
    border: solid 1px #d5d5d5;
    color: #272b34;
}

.card img {
    width: 100%;
}

.card:hover {
    background-color: #e0d2ed;
    cursor: pointer;
    transform: translate(0px, -10px);
}

/************* What is Met Gala ? ********************/

.cs-why-speculative-main {
    width: 100%;
    float: left;
    display: block;
    padding-top: 70px;
    padding-bottom: 70px;
    background-color: #fff;
}

.cs-why-speculative-container {
    width: 100%;
    float: left;
    display: block;
    padding: 0px 100px;
}

.cs-why-speculative-one {
    width: 58%;
    float: left;
    display: block;
    margin-right: 2%;
    text-align: left;
}

.cs-why-speculative-one-container {
    float: left;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.cs-why-speculative-one-column {
    width: 48%;
    float: left;
    display: block;
    margin-right: 2%;
    background-color: #4c3d82;
    padding: 20px;
    border-radius: 20px;
    border: solid 1px #fdb2d3;
    text-align: left;
    min-height: 350px;
    color: #fff;
}

.cs-why-speculative-two-column {
    width: 48%;
    float: left;
    display: block;
    margin-left: 2%;
    background-color: #893989;
    padding: 20px;
    border-radius: 20px;
    border: #f9d8d2;
    text-align: left;
    min-height: 350px;
    color: #fff;
}

.cs-why-speculative-two {
    width: 38%;
    float: left;
    margin-left: 2%;
    display: block;
}

.cs-why-speculative-two img {
    width: 100%;
    border-radius: 20px;
}

.cs-why-speculative-one-column img, .cs-why-speculative-two-column img {
    width: 120px;
}

.card h3 {
    color: #413374;
}

/*********** Javascript Widget ****************/

.cs-javascript-widget {
    width: 100%;
    float: left;
    display: block;
    background-color: #893989;
    color: #fff;
}

.cs-javascript-widget button {
    border: solid 2px #ffffff !important;
}

.cs-javascript-widget div {
    color: #fff !important;
}

/*************** Parallax Section ****************/

.cs-parallax-sec {
    width: 100%;
    float: left;
    display: block;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

.cs-parallax-sec-container {
    width: 100%;
    padding: 120px 120px;
    display: block;
    float: left;
}

.cs-parallax-sec-container-one {
    width: 48%;
    float: left;
    display: block;
    margin-right: 2%;
}

.cs-parallax-title {
    font-size: 32px;
}

.cs-parallax-sec-container-one video {
    width: 100%;
    border-radius: 20px;
}

.cs-parallax-sec-container-one img {
    width: 100%;
    border-radius: 30px;
}

.cs-parallax-sec-container-two {
    width: 48%;
    float: left;
    display: block;
    margin-left: 2%;
}

.cs-parallax-sec-container-two p {
    line-height: 2em;
}


/*********** Tabs ************/

.cs-experiments-head {
    padding-top: 0px;
    text-align: center;
    padding-bottom: 50px;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-bottom: 30px;
    background-color: #00000000 !important;
    border: solid 0px;
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: 0px 20px 0px 0px;
  color: #fff;
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #2b2e6c;
    border-radius: 50px;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #2b2e6c;
    color: #fff;
    border-radius: 30px;
    padding: 15px 25px;
}


/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  border-radius: 20px;
}

.section-intro {
    font-size: 16px;
    color: #fff;
}

.cs-points-tabs {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 60px 100px;
    float: left;
    background-color: #893989;
}

.cs-points-tabs div img {
    width: 100%;
    border-radius: 20px;
}

.tabcontent {
    padding: 40px 40px;
    border: 1px solid #ccc;
    border-top: none;
    width: 100%;
    background-color: #ffffff;
    float: left;
}

.tab-inside-div {
    width: 48%;
    float: left;
    display: block;
    margin-left: 2%;
    text-align: left;
}

.tab-inside-image {
    width: 48%;
    float: left;
    display: block;
    margin-right: 2%;
}


.tab-inside-div h3 {
    font-size: 30px;
}

.tab-inside-div p {
    line-height: 1.7em;
    font-size: 16px;
    color: #000;
}

.cs-points-tabs .tab {
    border-radius: 10px 10px 0px 0px;
}

.tab-inside-div ul {
    padding-left: 20px;
}

.tab-inside-div ul li {
    line-height: 1.4em;
    border-bottom: solid 1px #eee;
    padding-bottom: 8px;
    padding-top: 8px;
}

/*********************************************************/

.widget {
  max-width: 1100px;
  margin: 60px auto;
  padding: 20px;
}

.widget-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}

select {
  width: 100%;
  padding: 12px;
  margin: 15px 0;
  border-radius: 8px;
}

.options {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}

.option-btn {
  padding: 10px 14px;
  border-radius: 20px;
  border: 2px solid #777;
  background: transparent;
  color: #fff;
  cursor: pointer;
  opacity: 0.5;
}

.option-btn.active {
    background: #fff;
    border-color: #fff;
    opacity: 1;
    color: #000;
}

.right-panel img {
  max-width: 100%;
  border-radius: 18px;
}

footer {
  text-align: center;
  padding: 30px;
  background: #070712;
}

/************* Footer *************/

.cs-footer-sec {
    width: 100%;
    float: left;
    display: block;
    background-color: #4c3d82;
}

.cs-footer-sec-container {
    width: 100%;
    float: left;
    display: block;
    padding: 50px 100px;
    text-align: center;
    color: #fff;
}

.cs-footer-sec-container img {
    width: 250px;
}

.cs-footer-sec-container p {
    font-size: 17px;
    line-height: 2em;
}


/*************** Mobile Responsive ****************/

@media only screen and (max-width: 980px) {

  h1 { font-size: 38px; }

  h2 { font-size: 28px; }

  .cs-slideshow-container {
    padding: 30px;
}

.cs-why-speculative-main {
    padding-top: 30px;
    padding-bottom: 30px;
}

.cs-why-speculative-container {
    padding: 0px 30px;
}

.cs-parallax-sec-container {
    padding: 40px;
}

.cs-parallax-sec-container-one {
    width: 100%;
    margin-right: 0%;
}

.cs-parallax-sec-container-two {
    width: 100%;
    margin-left: 0%;
}

.cs-points-tabs {
    padding: 30px 30px;
}

.tab-inside-div {
    width: 100%;
    margin-left: 0%;
}

.tab-inside-image {
    width: 100%;
    margin-right: 0%;
}

.tab-inside-div p {
    margin-bottom: 20px;
}

.cs-about-sec-container {
    width: 100%;
    padding: 30px 40px;
}

}


@media only screen and (max-width: 768px) {

  h1 { font-size: 28px; }
  h2 { font-size: 24px; }


.navigation-menu-container {
    margin-left: 3%;
    margin-right: 3%;
}

.cs-why-speculative-one {
    width: 100%;
    margin-right: 0%;
}

.cs-why-speculative-two {
    width: 100%;
    margin-left: 0%;
}

.cs-why-speculative-one-column {
    width: 100%;
    margin-right: 0%;
}

.cs-why-speculative-two-column {
    width: 100%;
    margin-left: 0%;
}

.cs-why-speculative-one p {
    margin-bottom: 0px;
}

.widget {
    margin: 30px auto;
    padding: 0px 30px 0px 30px;
}

.cs-footer-sec-container {
    padding: 50px;
}



}

