html {
  scroll-behavior: smooth;
}

/********* Fonts *********/

h1,h2,h3,h4,h5,h6 {
   margin-top: 10px;
   margin-bottom: 10px;
   line-height: 1.3em;
}

h1 {
   font-size: 50px;
}

h2 {
   font-size: 40px;
}

h3 {
   font-size: 30px;
}

h4 {
   font-size: 25px;
}

h5 {
   font-size: 19px;
}

h6 {
   font-size: 16px;
}

p {
   margin-top: 10px;
   margin-bottom: 10px;
   line-height: 1.7em;
}

/******** Buttons **********/

.cs-btn-primary {
    background-color: #1a3f4a;
    color: #fff;
    border-radius: 50px;
    padding: 12px 50px;
    text-decoration: none;
    font-weight: 600;
    float: left;
    border: solid 3px #1c414b;
    transition: .3s ease-in-out;
}

.cs-btn-primary:hover {
    background-color: #727bb7;
    transition: .3s ease-in-out;
    border: solid 3px #727bb7;
}

.cs-btn-secondary {
    background-color: transparent;
    color: #1c414b;
    border-radius: 50px;
    padding: 12px 50px;
    text-decoration: none;
    font-weight: 600;
    float: left;
    border: solid 3px #1c414b;
    transition: .3s ease-in-out;
}

.cs-btn-secondary:hover {
    background-color: #eab308;
    border: solid 3px #eab308;
    color: #000;
    transition: .3s ease-in-out;
}

/********* Up & Down Animation ***********/

.upanddown {
  animation: mymove 3s infinite;
}

@keyframes mymove {
  0% {
  translate: 0px 0px;
  }
  50% {
  translate: 0px 70px;
  }
    100% {
  translate: 0px 0px;
  }
}


/********* Up & Down Animation ***********/

.bmart-img {
  animation: mymove 2s infinite;
}

@keyframes mymove {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.10);
  }
    100% {
      transform: scale(1);
  }
}



/********** Top Banner *************/

.cs-top-banner {
    width: 100%;
    float: left;
    display: block;
    background-size: cover;
}

.cs-top-banner-container {
    width: 90%;
    display: flex;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
    vertical-align: middle;
    align-items: center;
}

.cs-top-banner-one {
    width: 55%;
    float: left;
    display: block;
}

.cs-top-banner-one-container {
    padding: 0px 40px 0px 40px;
}

.cs-top-banner-one-container h1 {
    font-size: 40px;
}

.cs-top-banner-two {
    width: 45%;
    float: left;
    display: block;
}

.cs-top-banner-two img {
    width: 100%;
    margin-bottom: -7px;
}

.cs-top-banner-one-container ul {
    list-style-type: none;
    padding: 0px;
}

.cs-top-banner-one-container ul li {
    display: inline-block;
    margin: 0px 10px;
}

/********** 3 Cards ***********/

.cs-card-boxes-title {
    background-color: #f3f5f7;
    float: left;
    display: block;
    width: 100%;
}

.cs-card-boxes-container {
    padding: 60px 80px 20px 80px;
    color: #12131a;
    font-weight: 600;
}

.cs-card-boxes-main {
    width: 100%;
    float: left;
    display: block;
    background-color: #f3f5f7;
    padding-bottom: 60px;
}

.cs-card-boxes-main-container {
    width: 90%;
    float: left;
    display: block;
    margin-left: 5%;
    margin-right: 5%;
}

.cs-card-box-one, .cs-card-box-two, .cs-card-box-three {
    width: 26.33%;
    display: block;
    float: left;
    padding: 0px;
    margin-left: 2%;
    margin-right: 0%;
    padding: 30px;
    min-height: 370px;
    color: #000;
}

.cs-card-box-one img, .cs-card-box-two img, .cs-card-box-three img {
    transform: translate(0px, 0px);
    transition: .8s ease-in-out;
}

.cs-card-box-one:hover, .cs-card-box-two:hover, .cs-card-box-three:hover {
    cursor: pointer;
    background-color: #5a9fbf;
}

.cs-card-box-one:hover img, .cs-card-box-two:hover img, .cs-card-box-three:hover img {
    transform: translate(60px, 0px);
    transition: .8s ease-in-out;
}

.cs-card-box-one {
    background-color: #88ddcb;
    border-radius: 30px;
}

.cs-card-boxes-main .cs-card-boxes-main-container img {
    width: 100px;
}

.cs-card-box-two {
    background-color: #fdaea9;
    border-radius: 30px;
}

.cs-card-box-three {
    background-color: #f5ce56;
    border-radius: 30px;
}

/************** Video Section ****************/

.main-video-container {
    float: left;
    display: block;
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: #15333d;
}


.video-main-sec-container {
    float: left;
    display: block;
    padding: 80px;
    background-color: #15333d;
    border-radius: 30px;
}

.video-main-sec-box-one {
    width: 47%;
    float: left;
    display: block;
    color: #fff;
    margin-right: 3%;
}

.video-main-sec-box-two {
    width: 47%;
    float: left;
    display: block;
    color: #fff;
    margin-left: 3%;
}

.video-main-sec-box-three {
    width: 100%;
    float: left;
    display: block;
    text-align: center;
    margin-top: 40px;
}

.video-main-sec-box-three video {
    width: 100%;
    border-radius: 10px;
}

.video-main-sec-box-three-one img {
    width: 100%;
}

.video-main-sec-box-three-one {
    width: 29%;
    float: left;
    display: block;
    margin-right: 3%;
}

.video-main-sec-box-three-two {
    width: 65%;
    float: left;
    display: block;
    margin-left: 3%;
}

/********* Parallax Section ***********/

.cs-parallax-sec {
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    display: block;
    float: left;
    text-align: center;
    background-position: center;
}

.cs-parallax-sec-container {
    padding: 120px;
    margin: 0px 100px;
    color: #fff;
}

.cs-parallax-sec-container p {
    font-size: 18px;
    font-weight: 600;
}

/************* Babby Mobile Widget *****************/

.cs-java-widget {
    width: 100%;
    float: left;
    display: block;
    background-color: #3b8b85;
}

.builder {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    text-align: center;
    padding: 40px;
    background-color: #3b8b85;
    border-radius: 30px;
}

.cs-widget-title-desc {
    margin-bottom: 30px;
    color: #fff;
    text-align: center;
}

.cs-widget-title-desc h4 {
    border-bottom: solid 2px #fff;
    padding-bottom: 10px;
}

.cs-widget-title-desc p {
    font-weight: 600;
}

.controls {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    display: grid;
    text-align: left;
    line-height: 2em;
    color: #15333d;
    font-weight: 600;
    font-size: 17px;
    text-align: center;
}

.controls label {
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #15333d;
    border-radius: 10px;
    padding: 7px;
    color: #fff;
}

.controls-image {
    text-align: center;
}

.controls-image img {
    width: 280px;
}

/*********** Tabs ************/

.cs-experiments-head {
    padding-top: 0px;
    text-align: center;
    padding-bottom: 50px;
}

.cs-points-tabs-container {
    width: 80%;
    margin: 0 auto;
}

/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  margin-bottom: 30px;
    background-color: #00000000 !important;
    border: solid 0px;
}


/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
    margin: 0px 20px 0px 0px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */

.tab button.active {
    background-color: #faada7;
    color: #363636;
    border-radius: 10px;
    padding: 15px 25px;
    font-weight: 600;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border-radius: 20px;
}

.cs-points-tabs {
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 60px 0px;
    float: left;
    background-color: #f9fafb;
}

.cs-points-tabs div img {
    width: 100%;
    border-radius: 20px;
}

.tabcontent {
    border-top: none;
    width: 100%;
    float: left;
}

.tab-inside-div {
    width: 51%;
    float: left;
    display: block;
    margin-left: 2%;
}

.tab-inside-image {
    width: 45%;
    float: left;
    display: block;
    margin-right: 2%;
}


.tab-inside-div h3 {
    font-size: 30px;
}

.tab-inside-div p {
    line-height: 1.7em;
}

.cs-points-tabs .tab {
    border-radius: 10px 10px 0px 0px;
    border-bottom: solid 5px #e5e7eb;
    padding-bottom: 20px;
}

.tab-inside-div ul {
    padding-left: 20px;
}

.tab-inside-div ul li {
    line-height: 1.4em;
    border-bottom: solid 1px #eee;
    padding-bottom: 8px;
    padding-top: 8px;
}

/********** Footer ***********/

.footer {
    width: 100%;
    float: left;
    text-align: center;
    display: block;
    padding: 30px 0px 20px 0px;
    background: #023047;
    color: #fff;
}

.cs-footer-container {
    width: 70%;
    margin: 0 auto;
}

/************ Mobile Responsive ***************/

@media only screen and (max-width: 1200px) {

.cs-card-boxes-main-container {
    width: 100%;
    margin-left: 0%;
    margin-right: 0%;
}

.cs-top-banner-one-container h1 {
    font-size: 30px;
}

.cs-card-box-one, .cs-card-box-two, .cs-card-box-three {
    width: 25.33%;
    margin-left: 1%;
    margin-right: 1%;
}

.cs-top-banner-container {
    width: 98%;
    display: flex;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    vertical-align: middle;
    align-items: center;
}

}


@media only screen and (max-width: 980px) {

h1 { font-size: 32px; }

h2 { font-size: 28px; }

h3 { font-size: 23px; }

h4 { font-size: 20px; }

.cs-parallax-sec-container {
    padding: 0px;
    width: 75%;
    margin-left: 5%;
    margin-right: 5%;
}

.section {
    width: 100% !important;
    padding: 30px 0px !important;
}

.builder {
        padding: 0px;
        display: block;
        width: 77%;
        margin-left: 5%;
        margin-right: 5%;
}

.cs-widget-title-desc {
    width: 77%;
    margin-left: 5%;
    margin-right: 5%;
}

.cs-top-banner-container {
    display: block;
}

.cs-card-boxes-container {
    padding: 20px;
    width: 80%;
}

.cs-top-banner-one {
    width: 100%;
}

.cs-top-banner-two {
    width: 80%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

.cs-top-banner-two img {
    width: 350px;
    margin-bottom: -7px;
}

.cs-card-box-one, .cs-card-box-two, .cs-card-box-three {
        width: 83%;
        margin-left: 4%;
        margin-right: 4%;
        min-height: auto;
        margin-bottom: 30px;
    }

.video-main-sec-container {
        padding: 30px 0px 30px 0px;
        width: 75%;
        margin-left: 5%;
        margin-right: 5%;
}

.video-main-sec-box-one {
    width: 100%;
    margin-right: 0%;
}

.video-main-sec-box-two {
    width: 100%;
    margin-left: 0%;
}

.video-main-sec-box-three-one {
    width: 30%;
    margin-right: 3%;
}

.video-main-sec-box-three-two {
    width: 64%;
    margin-left: 3%;
}

.cs-points-tabs {
    width: 85%;
    padding: 30px 0px;
}

.cs-points-tabs-container {
    width: 90%;
}

.tab {
    margin-bottom: 10px;
}

.tab-inside-div {
    width: 100%;
    margin-left: 0%;
}

.tab-inside-image {
    width: 100%;
    margin-right: 0%;
}

}


@media only screen and (max-width: 768px) {

    .video-main-sec-box-three-one {
        width: 100%;
        margin-right: 0%;
    }

.cs-top-banner-one-container {
    padding: 0px 20px 0px 20px;
    width: 80%;
}

    .video-main-sec-box-three-two {
        width: 100%;
        margin-left: 0%;
    }

.cs-btn-primary, .cs-btn-secondary {
    text-align: center;
    width: 70%;
}

.cs-card-box-one, .cs-card-box-two, .cs-card-box-three {
        width: 64% !important;
    }

.video-main-sec-box-three-one img {
    width: 200px;
}

.cs-footer-container {
        width: 77%;
        margin-left: 5%;
        margin-right: 5%;
    }

.tabcontent {
    padding: 2px 0px;
}

.cs-footer-container-paragraph {
    display: block;
    width: 80%;
    float: left;
    margin-left: 5%;
    margin-right: 5%;
}

}


body{margin:0;font-family:Nunito,sans-serif;background:#f8f9fa;color:#023047}

.section { padding: 60px 0px; max-width: 100%; margin: auto; width: 85%; }

.light{background:#fff;border-radius:24px}

@media(max-width:900px){.hero-inner,.builder{grid-template-columns:1fr;text-align:center}}
